DATABASE_URL=
EXTERNAL_API_URL=
EXTERNAL_API_USERNAME=
EXTERNAL_API_PASSWORD=
BANCARD_IP=
BANCARD_PORT=
BARCODE_CHANNEL_ID=
BARCODE_API_KEY=
BARCODE_MACHINE_IP=

EMISOR_RUC=
EMISOR_RAZON_SOCIAL=

CORS_ORIGIN=

PRINTER_NAME=

EMISOR_DIRECCION=
EMISOR_TELEFONO=